Package: dirt
Version: 1.0.0-1
Architecture: i386
Maintainer: Alex McLean <alex@slab.org>
Installed-Size: 52
Depends: libaubio2, libc6 (>= 2.7), libjack-jackd2-0 (>= 1.9.5~dfsg-14) | libjack-0.116, liblo7 (>= 0.26~repack), libsamplerate0 (>= 0.1.7), libsndfile1 (>= 1.0.20)
Section: sound
Priority: extra
Homepage: http://github.com/yaxu/dirt
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
